<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129766506317-20vde9hedi6aqpk2d1nv1mko5md6dlkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129766506317-20vde9hedi6aqpk2d1nv1mko5md6dlkc</string>
	<key>API_KEY</key>
	<string>AIzaSyALKrcSnSuuyU4SYCVGtw-sFGQGngplYY0</string>
	<key>GCM_SENDER_ID</key>
	<string>129766506317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yujin.DeliveryMinhyuk</string>
	<key>PROJECT_ID</key>
	<string>deliveryminhyuk-1613716174025</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryminhyuk-1613716174025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129766506317:ios:5516b7b1b54285af23c104</string>
</dict>
</plist>